USE [master]
GO
/****** Object:  Database [MusicGlue]    Script Date: 21-04-2026 09:25:18 ******/
CREATE DATABASE [MusicGlue]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicGlue', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MusicGlue.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicGlue_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MusicGlue_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicGlue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicGlue]
GO
/****** Object:  Table [dbo].[CONSIGNMENT]    Script Date: 21-04-2026 09:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSIGNMENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCountry] [nvarchar](50) NOT NULL,
	[ZipCode] [nvarchar](50) NOT NULL,
	[ConsignmentStatus] [nvarchar](50) NOT NULL,
	[ReportingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_CONSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSICPRODUCT]    Script Date: 21-04-2026 09:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSICPRODUCT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[ProductDescriptionId] [int] NOT NULL,
 CONSTRAINT [PK_MUSICPRODUCT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSICPRODUCT_CONSIGNMENT]    Script Date: 21-04-2026 09:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSICPRODUCT_CONSIGNMENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ConsignmentId] [int] NOT NULL,
 CONSTRAINT [PK_MUSICPRODUCTCONSIGMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTDESCRIPTION]    Script Date: 21-04-2026 09:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTDESCRIPTION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[APN] [nvarchar](50) NOT NULL,
	[CatalogNumber] [nvarchar](50) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PRODUCTDESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTINGORGANISATION]    Script Date: 21-04-2026 09:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTINGORGANISATION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REPORTINGORGANISATION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONSIGNMENT] ON 

INSERT [dbo].[CONSIGNMENT] ([Id], [CustomerCountry], [ZipCode], [ConsignmentStatus], [ReportingStatus]) VALUES (1, N'England', N'2100', N'PreOrdered', 0)
INSERT [dbo].[CONSIGNMENT] ([Id], [CustomerCountry], [ZipCode], [ConsignmentStatus], [ReportingStatus]) VALUES (2, N'Australia', N'11455', N'Dispatched', 0)
INSERT [dbo].[CONSIGNMENT] ([Id], [CustomerCountry], [ZipCode], [ConsignmentStatus], [ReportingStatus]) VALUES (3, N'England', N'5003', N'PreOrdered', 0)
SET IDENTITY_INSERT [dbo].[CONSIGNMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSICPRODUCT] ON 

INSERT [dbo].[MUSICPRODUCT] ([Id], [Price], [ProductDescriptionId]) VALUES (1, 129.95, 1)
INSERT [dbo].[MUSICPRODUCT] ([Id], [Price], [ProductDescriptionId]) VALUES (2, 89.5, 2)
INSERT [dbo].[MUSICPRODUCT] ([Id], [Price], [ProductDescriptionId]) VALUES (3, 149, 3)
SET IDENTITY_INSERT [dbo].[MUSICPRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSICPRODUCT_CONSIGNMENT] ON 

INSERT [dbo].[MUSICPRODUCT_CONSIGNMENT] ([Id], [ProductId], [ConsignmentId]) VALUES (1, 1, 1)
INSERT [dbo].[MUSICPRODUCT_CONSIGNMENT] ([Id], [ProductId], [ConsignmentId]) VALUES (2, 2, 1)
INSERT [dbo].[MUSICPRODUCT_CONSIGNMENT] ([Id], [ProductId], [ConsignmentId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[MUSICPRODUCT_CONSIGNMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTDESCRIPTION] ON 

INSERT [dbo].[PRODUCTDESCRIPTION] ([Id], [APN], [CatalogNumber], [SKU], [Barcode]) VALUES (1, N'APN-001', N'CAT-1001', N'SKU-5001', N'1234567891')
INSERT [dbo].[PRODUCTDESCRIPTION] ([Id], [APN], [CatalogNumber], [SKU], [Barcode]) VALUES (2, N'APN-002', N'CAT-1002', N'SKU-5002', N'1234567892')
INSERT [dbo].[PRODUCTDESCRIPTION] ([Id], [APN], [CatalogNumber], [SKU], [Barcode]) VALUES (3, N'APN-003', N'CAT-1003', N'SKU-5003', N'1234567893')
SET IDENTITY_INSERT [dbo].[PRODUCTDESCRIPTION] OFF
GO
SET IDENTITY_INSERT [dbo].[REPORTINGORGANISATION] ON 

INSERT [dbo].[REPORTINGORGANISATION] ([Id], [Name], [Country]) VALUES (1, N'OCC', N'England')
INSERT [dbo].[REPORTINGORGANISATION] ([Id], [Name], [Country]) VALUES (2, N'ARIA', N'Australia')
SET IDENTITY_INSERT [dbo].[REPORTINGORGANISATION] OFF
GO
ALTER TABLE [dbo].[MUSICPRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_MUSICPRODUCT_PRODUCTDESCRIPTION] FOREIGN KEY([ProductDescriptionId])
REFERENCES [dbo].[PRODUCTDESCRIPTION] ([Id])
GO
ALTER TABLE [dbo].[MUSICPRODUCT] CHECK CONSTRAINT [FK_MUSICPRODUCT_PRODUCTDESCRIPTION]
GO
ALTER TABLE [dbo].[MUSICPRODUCT_CONSIGNMENT]  WITH CHECK ADD  CONSTRAINT [FK_MUSICPRODUCTCONSIGNMENT_CONSIGNMENT] FOREIGN KEY([ConsignmentId])
REFERENCES [dbo].[CONSIGNMENT] ([Id])
GO
ALTER TABLE [dbo].[MUSICPRODUCT_CONSIGNMENT] CHECK CONSTRAINT [FK_MUSICPRODUCTCONSIGNMENT_CONSIGNMENT]
GO
ALTER TABLE [dbo].[MUSICPRODUCT_CONSIGNMENT]  WITH CHECK ADD  CONSTRAINT [FK_MUSICPRODUCTCONSIGNMENT_MUSICPRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[MUSICPRODUCT] ([Id])
GO
ALTER TABLE [dbo].[MUSICPRODUCT_CONSIGNMENT] CHECK CONSTRAINT [FK_MUSICPRODUCTCONSIGNMENT_MUSICPRODUCT]
GO
USE [master]
GO
